body{
    background:rgb(185, 99, 99);
    background: url("cover.jpg***");

}

h1{
    color: rgb(255, 25, 0)
}
old
    
    p{
        color: #f70d0d;

}
img{
animation-delay: 1s;
animation:img 5s infinite;
animation-name: img;
opacity: 0;
}
@keyframes img {36
    from{opacity: 0;
    }
    to{
        opacity: 1;
    }*%
    
}







